#mainSection{
    width: 100vw;
}
body { 
    padding-top: 56px;
    background: rgb(252, 221, 164);
}
.panel-1{
    background: rgb(252, 235, 201);
}
.panel-2{
    background: rgb(250, 230, 192);
    height: 100%;
}
.panel-right{
    padding-top: 10px;
    padding-right: 0px;
}
.panel-footer{
    background: #57A519;
    width: 100%;
}
.dropdown-submenu{
    position: relative;
}
.dropdown-submenu a::after{
    transform: rotate(-90deg);
    position: absolute;
    right: 3px;
    top: 40%;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu{
    display: flex;
    flex-direction: column;
    position: absolute !important;
    margin-top: -30px;
    left: 100%;
    background-color: #dce9d2;
}
.dropdown-divider{
    border-color: rgb(59, 58, 59);
}
.navbar-nav > li > .dropdown-menu{     
    background-color: #dce9d2;
    width: auto;
}
@media (max-width: 992px) {
    .dropdown-menu{
        width: auto;
    }
    .dropdown-menu .dropdown-submenu, .dropdown-menu > .dropdown-submenu > .dropdown-menu{
        width: auto;
        background-color: #dce9d2;
    }
}
.bg-navbar{
    background:#57A519;
}
.btn-outline-uam{
    color: rgb(32, 34, 34);
    opacity: 90%    ;
    background: purple(32, 34, 34);
    border: 2px slategrey solid;
    border-radius: 0.5rem;
}
.banner-superior{
    background-image: url("../imgs/banners/banner-logo-ingbio.png");
    height: 250px;
    background-size: cover;
}
.error-message{
    color: rgb(236, 42, 42);
    font-weight: 500;
    font-size: 0.8rem;
}
.my-slider .carousel-indicators {
    top: 10px;
    justify-content: left; 
    /* margin:5px; */
    padding-left: 5px;
    padding-right:15px;
  }
  
.carousel-indicators li {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}
.carousel-indicators li:not(:last-child) {
margin-right: 20px;
}